apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: dorakit
  labels:
    app: postgres
data:
  POSTGRES_DB: postgresdb
  POSTGRES_USER: postgresadmin
  POSTGRES_PASSWORD: admin123
  POSTGRES_HOST: postgres
  POSTGRES_PORT: "5432"